# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app
*.suo
/win/hiredis/x64/Debug
/win/ipch/TESTSUITE-5556b7ff
/win/RedisClient/x64/Debug
/win/TestSuite/x64/Debug
/win/Win32_Interop/lua/Win32/Debug
/win/Win32_Interop/lua/x64/Debug
/win/Win32_Interop/Win32/Debug
/win/Win32_Interop/Win32_Interop/Win32/Debug
/win/Win32_Interop/Win32_Interop/x64/Debug
/win/Win32_Interop/x64/Debug
*.db
/win/x64/Debug
*.opendb
/win/hiredis/x64/Release
/win/RedisClient/x64/Release
/win/TestSuite/x64/Release
/win/Win32_Interop/lua/x64/Release
/win/Win32_Interop/Win32_Interop/x64/Release/Win32_Interop.tlog
/win/Win32_Interop/Win32_Interop/x64/Release
/win/x64/Release
